[*.cs]
dotnet_diagnostic.CA2007.severity = warning # CA2007: Do not directly await a Task

# SA1208: System using directives should be placed before other using directives
dotnet_diagnostic.SA1208.severity = none

# SA1507: Code should not contain multiple blank lines in a row
dotnet_diagnostic.SA1507.severity = none

# SA0001: XML comment analysis disabled
dotnet_diagnostic.SA0001.severity = none

# SA1010: Opening square brackets should be spaced correctly
dotnet_diagnostic.SA1010.severity = none

# SA1512: Single-line comments should not be followed by blank line
dotnet_diagnostic.SA1512.severity = none

# SA1517: Code should not contain blank lines at start of file
dotnet_diagnostic.SA1517.severity = none
